.comment{
  margin-bottom: 1em;
}

.replies {
  padding-left: 1.5em;
}

.comment-text {
  font-weight: 900;
}

.replies .comment-text {
  font-weight: 400;
}

.replies .comment {
  margin-bottom: .2em;
}

